@import url("nav.css");

.navbar {
  align-items: center;
  position: sticky;
  left: 0;
  width: 100%;
  top: 0;
}

body {
  Font-family: candara, sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}




img[src="search.png"] {
  margin-left: -10px;
  margin-top: -2px;
  height: 40px;
  padding: 0px;
  z-index: 2;
  border-radius: 0px 15px 15px 0px;

}

#header {
  padding-left: 5%;

  background-position: center;
  padding-top: 10%;
  background: url("header.png") no-repeat;
  background-size: contain;
  background-color: #1e3932;


}

#account_labels{  /*for the labels in the account page */
  text-align: center;
  font-weight: bolder;
  color:#1e3932;
}

#account_txt{ /*for the non label ttexts in account page*/
  color: darkolivegreen;
}



#upload {

  margin-left: 35%;
  width: 150px;
  height: 50px;
  border-radius: 100px;
  background-color: #3e8e41;
  margin-top: 50px;
}

img[src="place.jpg"] {

  border-radius: 157px;
  height: 150px;
  WIDTH: 150px;
  margin-left: 35%;
  margin-top: 130px;
}

#AccountDetails {
  float: right;
  margin-right: 20%;
  border: 1px solid black;
  width: 30%;
  height: 20px;
  border-collapse: separate;
  margin-top: 100px;


}

#AccountDetails td {
  padding: 0;
  margin: 0;
}

#Transaction {
  margin: auto;
  margin-top: 70px;
  margin-bottom: 20px;
  width: 60%;
  text-align: center;
  border: 3px solid black;
}

#footer {

  width: 94%;
  padding: 3%;
  background-color: #ED6444;
}