@import url(nav.css);


/*1. upload form container*/
.upload-form-container{
  margin: 0 auto;
  border: 1px solid black;
  width: 40%;
}


/*2. upload form*/
.upload-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

/* 3. section title */

.section-title{
  text-align: center;
  font-size: 2rem;
  margin: 1rem;
}

/* 4. labels in product upload form */
#product-upload-label{      
  padding: 1rem;
}

 /* 5 radio */
#merchandise, #school-supplies,#food, #clothes, #gadgets{      

}

/* 6. fieldset or radio labels */
#fieldset-label{    

}

/* 7. fieldset */
fieldset{
  padding: 2rem;
}

/* 8. button */
button{
background-color: #13aa52;
border: 1px solid #13aa52;
border-radius: 4px;
box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
box-sizing: border-box;
color: #fff;
cursor: pointer;
font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
font-size: 16px;
font-weight: 400;
outline: none;
outline: 0;
padding: 10px 25px;
text-align: center;
transform: translateY(0);
transition: transform 150ms, box-shadow 150ms;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

button:hover {
box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
transform: translateY(-2px);
}

@media (min-width: 768px) {
button {
  padding: 10px 30px;
}
}

/* 9. product-name */
#product-name{
  font-size: 20%;
}


/* 10. product-description */
#product-description{
  font-size: 25%;
}


