@import url(nav.css);


/*1. upload form container*/
.upload-form-container{
  margin: 0 auto;
  border: 1px solid black;
  width: 40%;
}


/*2. upload form*/
.upload-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

/* 3. section title */

.section-title{
  text-align: center;
  font-size: 2rem;
  margin: 1rem;
}

