/* Import the nav.css file */
@import url(nav.css);

/* Rest of the code */

/* table of contents
1. global styles
2. header
3. card container
*/

/* 1. global styles */
/* :root {
    --fs-body: 1.125rem;
    --color-main: rgb(30, 57, 50);
    --color-accent: rgb(255, 198, 26);
}

html {
    font-family: Candara, sans-serif;
}

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.navbar {
    align-items: center;
    position: sticky;
    left: 0;
    width: 100%;
    top: 0;
}

#items-container {
    padding: 0.5rem;
    background-color: #365544;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .15);
    display: grid;
    margin: 0 auto;
    width: 100%;
    grid-template-columns: 1fr 1fr auto 1fr;
    z-index: 2;
}

/* Dropdowns & icons */

.icons .material-icons {
    color: #011b0d !important;
    /* use this color */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* 2. header */
#daily-feed {
    color: var(--color-main);
    width: 100%;
    text-align: center;
    position: sticky;
    top: 60px;
    background-color: none;
    padding: 0.5rem;
    z-index: 1;
}

#daily-feed::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 90%;
    background-color: var(--color-main);
    height: 0.3rem;
}

/* 3. card container */

.cards-container {
    margin-top: 60px; 
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.8rem;
    width: 90%;
    z-index: 0; /* Move the cards behind the navbar */
}

/* refer to pageRenderer.js for the classes and elements in the card*/

.card {
    height: 20em;
    position: absolute;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: left;
    transition: 200ms ease-in-out;
    /* border-radius: 0.5rem 0.5rem 0 0; */
}

.card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.card-product-image {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
}

/* 8. products */
.products {
    position: relative;
    z-index: 0;
}
