/*
table of contents
1. global styles
2. navigation 
3. icons
4. search
5. icons dropdowns
6. categories
7. logo

*/

/* 1. global styles */

:root {
    --fs-body: 1.125rem;
    --color-main: color(#293241);
    --color-main-light: color(#365544);
    --color-accent: rgb(255, 255, 255);
    /* --color-accent: rgb(255, 198, 26); */
    --transition: 200ms ease;
    --transition-animation: cubic-bezier(.43, .8, .35, 1.28);
  }
  

html {
    font-family: Candara, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button:hover {
    cursor: pointer;
}

/* 2. navigation */
.navbar {
    align-items: center;
    position: sticky;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 1;
    /* overflow:hidden; */
}

.website-logo {

    text-align: center;
    color: black;
}

.website-title {
    font-family: "Patua One", sans-serif;
    text-transform:uppercase;
    font-weight: bold;
    text-align: center;
    color: ghostwhite;
    margin: auto;
    font-size: 2.5rem;
    transition: all var(--transition);
}

/* .website-title:hover {
    color: var(--color-main-light);
} */

/* 
/* 3. icons */
#items-container {
    padding: 0.5rem;
    /* background-color: white; */
    background-color: #365544; /* Set the background color */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .15);
    display: grid;
    margin: 0 auto;
    width: 100%;
    grid-template-columns: 1fr 1fr auto 1fr;
    z-index: 2;
    /* overflow:hidden; */
}

.icons {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    /* height:100%; */
}

li {
    text-align: center;
    /* color:#56856b; */
}
.icons .material-icons {
    color: #011b0d !important;
    /* use this color */
}

.topright {
    position: relative;
    transition: all var(--transition);
    height: 100%;
    margin: 0;
    padding: 0;
}

/* 4. search */
.search-area {
    --size: 60px;
    text-align: left;
    margin: auto;
    display: flex;
    border-radius: 100px;
    overflow: hidden;
    width: calc(var(--size) + 1rem); /* Increase the width by 1rem */
    height: 2rem;
    padding: 3px;
    position: relative;
    transition: all 450ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

/* search to be edited */
#search-input {
    border: 0;
    padding: 0.9em;
    flex-grow: 1;
    outline: 0;
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%; /* Increase the width value as desired */
    background: transparent;
    opacity: 0;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}




#searchbtn {
    --size: 60px;
    font-size: 1.5rem;
    margin-left: auto;
    background: 0;
    z-index: 1;
    border: 0;
    cursor: pointer;
    border-radius: 100vh;
    transition: all var(--transition);
    width: calc(var(--size) + 1rem); /* Increase the width by 1rem */
    height: 2rem;
    color: black;
}


.search-area:hover #searchbtn {
    color: var(--color-main-light);
}

#searchbtn:active {
    background-color: rgba(255, 255, 255, 0.5);
}

.navbar:has(.search-area:focus-within) .website-title {
    /* display: none; removed to keep title in place */
}

.search-area:focus-within {
    width: 100%;
    background-color: white;
    border-color: var(--color-accent);
    grid-column: 2/5;
}

.search-area:focus-within #search-input {
    --size: 60px;
    opacity: 1;
    background-color: white;
    color: black;
    z-index: initial;
    cursor: initial;
    width: calc(100% - var(--size));
}

.search-area:focus-within #searchbtn {
    background: var(--color-accent);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
}

.search-area:focus-within .search-area:hover,
.search-area:focus-within .search-area:focus {
    outline: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, .65);
}

#search-input:has(button) {
    display: inline-block;
}

.toprightbtn {
    background: none;
    cursor: pointer;
    border: none;
    color: #011b0d;
}

.material-icons {
    transition: all var(--transition);
    width: 100%;
    margin: auto;
    color: black;
}

.topright:hover .material-icons {
    color: var(--color-main-light);
}

/* 5. icons dropdowns */
.topright {
    /* margin-right: -10px; */
    /* display: inline-block;  */
  }

.topright-content {
  display: none;
  position: absolute;
  /* light green */
  background-color: #fdfdfd;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.topright-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .toprightbtn {


    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
  }

.topright-links {
    text-decoration: none;
    color: var(--color-accent);
    background-color: var(--color-main);
    padding: 0.3rem;
    transition: all 100ms ease-in-out;
}

.topright-links:hover {
    color:#011b0d;
    background-color: var(--color-accent);
}

.topright:focus-within .topright-content,
.topright-links {
    display: block;
}




/* 6. categories */

.navbar:hover .dropdown-container::before,
.navbar:hover .dropdown-container,
.dropdown-container:hover {
}

.navbar:has(.icons:hover) .dropdown-container {
    transform: scale(1, 0);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .15);

}

.dropdown-container::before {
    content: "";
    display: none;
    height: 2px;
    margin: auto;
    width: 100%;
    background-color: var(--color-accent);
    z-index: 1;
    position: sticky;
}

.dropdown-container {
    display: fixed;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    z-index: 9999;
    background-color: #cbd1cb;
    transform-origin: top;


}

.dropdown {
    position: relative;
    display: inline-block;
    width: calc(9rem - 0.4rem);
    margin-inline: 0.2rem;
}

.dropdown:hover {
    background-color: var(--color-accent);
    color: var(--color-accent);
    transition: all var(--transition);
}

.dropbtn {
    background: none;
    border: none;
    font-weight: bold;
    color: black;
    width: 100%;
    margin: 0;
    height: 2rem;
    border-radius: 100vh;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color-accent);
    transition: all var(--transition);
    width: 100%;
}

.dropdown-content a {
    padding: 0.2rem;
    display: block;
    text-decoration: none;
    color: black;
    transition: all var(--transition);
}

.dropdown-content a:hover {
    background-color: var(--color-main);
    color: #152e1c;
    text-emphasis: bold;
    transition: all var(--transition);
}

@keyframes slide-in {
    0% {
        transform: translateY(-100%);
        opacity: 0%;
    }

    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}


/* 7. logo */

.logo {
    width: 18em;
    transform: scaleX(70%);
}

.website-title-anchor {
    text-decoration: none;
    margin: auto;
}

.nav-container {
    width: 100%;
    max-width: auto; /* Adjust the width to your desired value */
    margin: 0 auto; /* Centers the navigation bar horizontally */
    /* Add additional styles here*/
  }