@import url(nav.css);


.cards-container{
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
}

.card-product-image{
    width: 100%;
    height: 15vw;   
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
}